body
{
  color: white;
  background: #e29b8e;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_hand_name ,#result_hand_name2  
{
  color: black;
}
.hand_name
{
  font-size: 40px;
}
.hand_gestures
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 15px;
  letter-spacing: 10px;
}
